### Prep Data as CSV

In [1]:
import pandas as pd
df = pd.read_csv('data/Cars93.csv')

In [2]:
df2 = df[['Weight', 'MPG.city', 'MPG.highway']]
print(df2.shape)
df2.head(3)

(93, 3)

   Weight  MPG.city  MPG.highway
0    2705        25           31
1    3560        18           25
2    3375        20           26

In [5]:
import random

In [17]:
n_rows = len(df)
for i in range(3):
    inds = random.sample(range(n_rows), n_rows//3)
    sample_df = df[df.index.map(lambda e: e in inds)]
    sample_df.to_csv(f'data/sample-{i}.csv')

### Pull Data From Azure SQL - Basic

In [ ]:
import pymssql

In [ ]:
database = "test-wrs-1"  # change to yours or feel free to use mine
username = "<USER>"
password  = "<PASSWORD>"
server = "cohort40-sql-2.database.windows.net"
table = "dbo.mydf"  # you might not have this one

In [ ]:
conn = pymssql.connect(server,username, password, database)

In [ ]:
cursor = conn.cursor()
query = f"SELECT * FROM {table}"
df = pd.read_sql(query, conn)

In [ ]:
df

### Pull data from Azure SQL - Cars Query

In [ ]:
table = "dbo.cars1"
cursor = conn.cursor()
query = f"SELECT * FROM {table}"
df = pd.read_sql(query, conn)

In [ ]:
cols = ['Weight', 'MPG.city', 'MPG.highway']
for col in cols:
    df[col] = df[col].astype('int')