### Prep Data as CSV

In [5]:
import pandas as pd
df = pd.read_csv('data/Cars93.csv')

In [6]:
df2 = df[['Weight', 'MPG.city', 'MPG.highway']]
print(df2.shape)
df2.head(3)

(93, 3)

   Weight  MPG.city  MPG.highway
0    2705        25           31
1    3560        18           25
2    3375        20           26

### Split data into samples

In [7]:
import random

In [17]:
N = len(df)
data_samples = []
for i in range(3):
    inds = random.sample(list(range(N)), N//3)
    inds = df.index.map(lambda elem: elem in inds)
    _df = df[inds]
    _df.to_csv(f'data/sample-{i}')

import os
os.listdir('data/')

['Cars93.csv', 'sample-0', 'sample-1', 'sample-2']

In [22]:
random.randint(0,2)

0

### Pull Data From Azure SQL - Basic

In [3]:
import pymssql

In [4]:
database = "test-wrs-1"  # change to yours or feel free to use mine
username = ""
password  = ''
server = "cohort40-sql-2.database.windows.net"
table = "dbo.mydf"  # you might not have this one

In [5]:
conn = pymssql.connect(server,username, password, database)

In [6]:
cursor = conn.cursor()
query = f"SELECT * FROM {table}"
df = pd.read_sql(query, conn)

In [7]:
df

   column 1                                           column 2
0         0                        creating a manual DataFrame
1         2  but a list of lists will work too, and is simi...
2         1                  is easy, this is a list of tuples

### Pull data from Azure SQL - Cars Query

In [8]:
table = "dbo.cars1"
cursor = conn.cursor()
query = f"SELECT * FROM {table}"
df = pd.read_sql(query, conn)

In [11]:
cols = ['Weight', 'MPG.city', 'MPG.highway']
for col in cols:
    df[col] = df[col].astype('int')

In [12]:
df.dtypes

_c0                   object
Manufacturer          object
Model                 object
Type                  object
Min.Price             object
Price                 object
Max.Price             object
MPG.city               int32
MPG.highway            int32
AirBags               object
DriveTrain            object
Cylinders             object
EngineSize            object
Horsepower            object
RPM                   object
Rev.per.mile          object
Man.trans.avail       object
Fuel.tank.capacity    object
Passengers            object
Length                object
Wheelbase             object
Width                 object
Turn.circle           object
Rear.seat.room        object
Luggage.room          object
Weight                 int32
Origin                object
Make                  object
dtype: object